/.*
*.o
*.swp
libft/test_*
*._*
*.dSYM
.DS_Store
vgcore.*

*.netrwhist


### Libraries ###

libft/libft.a
printf/libftprintf.a


### Executables ###

/fillit/fillit
/get_next_line/test_gnl
/fdf/fdf
/ls/ft_ls
/minishell/minishell


### Don't ignore ###

!/School/Config/.*
