/.*


### Vim Files ###
*.swp
*.netrwhist


### Valgrind Files ###
*.dSYM
vgcore.*


### OSX Files ###
*._*
.DS_Store


### Object files ###
*.o


### Libraries ###
libft/libft.a
printf/libftprintf.a


### Executables ###
/fillit/fillit*
/get_next_line/test_gnl*
/fdf/fdf*
/ls/ft_ls*
/minishell/minishell*

### Temporary files ###
_*


### Don't ignore ###
!/School/Config/.*
